set / system name host-name {{ hostname }}
set / interface system0 admin-state enable
{% if loopback.description %}set / interface system0 description {{ loopback.description }}
{% endif %}set / interface system0 subinterface 0 admin-state enable
set / interface system0 subinterface 0 ipv4 admin-state enable
set / interface system0 subinterface 0 ipv4 address {{ loopback.address }}
{% for interface in interfaces %}set / interface {{ interface.name }} admin-state enable
set / interface {{ interface.name }} description {{ interface.description }}
set / interface {{ interface.name }} subinterface 0 admin-state enable
set / interface {{ interface.name }} subinterface 0 ipv4 admin-state enable
set / interface {{ interface.name }} subinterface 0 ipv4 address {{ interface.address }}
{% endfor %}set / network-instance default interface system0.0
{% for interface in interfaces %}set / network-instance default interface {{ interface.attachment }}
{% endfor %}set / network-instance default protocols bgp admin-state enable
set / network-instance default protocols bgp autonomous-system {{ bgp.local_asn }}
set / network-instance default protocols bgp router-id {{ bgp.router_id }}
set / network-instance default protocols bgp afi-safi ipv4-unicast admin-state enable
{% for group in bgp.peer_groups %}set / network-instance default protocols bgp group {{ group.name }} peer-as {{ group.remote_asn }}
{% endfor %}{% for neighbor in bgp.neighbors %}set / network-instance default protocols bgp neighbor {{ neighbor.address }} peer-group {{ neighbor.peer_group }}
{% if neighbor.description %}set / network-instance default protocols bgp neighbor {{ neighbor.address }} description {{ neighbor.description }}
{% endif %}{% endfor %}
